<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Помилка 404 - Сторінка не знайдена</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container" style="text-align: center;">
       
        <div class="header" style="margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">
            <h1 style="color: #d9534f; font-size: 2rem;">Помилка 404</h1>
        </div>

       
        <h2 style="color: #555; font-size: 1.5rem; margin-bottom: 20px;">
            Сторінка не знайдена.
        </h2>
        <p style="color: #777; font-size: 1rem; margin-bottom: 30px;">
            Сторінка, яку ви шукаєте, не існує.
        </p>
    </div>
</body>
